
<div style="height:91px; background-color:#6f42c1"></div>
<h3 class="page-title">
    File Upload

</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
@*<div class="row">
        <div class="col-md-12">

            <form action="../assets/global/plugins/dropzone/upload.php" class="dropzone dropzone-file-area" id="my-dropzone" style="width: 500px; margin-top: 50px;">
                <h3 class="sbold">Drop files here or click to upload</h3>
                <p> This is just a demo dropzone. Selected files are not actually uploaded. </p>
            </form>
        </div>
    </div>*@
<div style="padding:20px;">

    <div class="row" style="float:right; margin-right:-45px">
        <form action="" class="form-inline">
            <div class="form-body ">
                <div class="form-group">
                    <div class="col-md-10"></div>
                    Language
                    <div class="col-md-2" style="max-width:100% !important; ">
                        <select class="bs-select form-control">
                            <option>C#</option>
                            <option>Java</option>
                            <option>Python</option>
                            <option>Javascript</option>
                            <option>C</option>
                            <option>React</option>
                            <option>C++</option>
                        </select>
                    </div>
                </div>

            </div>

        </form>
    </div>

    <form method="post" action="http://35.240.150.92/api/document" enctype="multipart/form-data" id="#" style="margin-top:25px">
        <div class="form-group files">
            <label>Upload Your File </label>
            <input type="file" class="form-control center-align" multiple="" id="input-file" name="file">
        </div>

        <textarea id="code_editor1" class=""></textarea>

        <div class="row">
            <div class="col-md-11"></div>
            <div class="col-md-1" style="margin-top:5px">
                <button class="btn green-sharp btn-outline sbold pull-right" onclick="uploadFile();" type="submit" data-toggle="modal" href="#basic" style="display:block"> Next </button>

            </div>

        </div>

    </form>
</div>


@*<textarea id="editor1"></textarea>
    <textarea id="editor2"></textarea>*@


<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header " style="display:block">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Modal Title</h4>
            </div>
            <div class="modal-body">

                <form role="form">
                    <div class="form-group form-md-checkboxes">

                        <div class="md-checkbox-list">
                            <div class="md-checkbox">
                                <input type="checkbox" id="checkbox2" class="md-check" checked>
                                <label for="checkbox2">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Web Check
                                </label>
                            </div>
                            <div class="md-checkbox">
                                <input type="checkbox" id="checkbox1" class="md-check">
                                <label for="checkbox1">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Peer to Peer Check
                                </label>
                            </div>


                        </div>
                    </div>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn green"></button>*@
                @*<link href="@{Html.RenderPartial("CompareCode")}" rel="stylesheet"  />*@


                <a href="@Url.Action("CompareCode","Upload")" class="btn green">Check</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section Scripts{
    <script src="@Url.Assets("js/demoJS.js")" type="text/javascript"></script>

   
}
