@using WebAdmin.Infrastructures
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="nav-item  ">
                <a href="@Url.Action("Index","User")" class="nav-link ">
                    <span class="title">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        User
                    </span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("Index","SourceCode")" class="nav-link ">
                    <span class="title">
                    <i class="fa fa-file" aria-hidden="true"></i>
                        Source Code
                    </span>
                </a>
            </li>
           
        </ul>
    </div>
    <!-- END SIDEBAR -->
</div>
