
<div class="page-container">
    <div class="row">
        <div class="col-md-6 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                       
                        <span class="caption-subject bold uppercase"> Code 1</span>
                    </div>

                </div>
                <div class="portlet-body form">
                    <textarea id="editor1"></textarea>
                </div>
            </div>


        </div>
        <div class="col-md-6 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption  font-red-sunglo">
                        
                        <span class="caption-subject bold uppercase"> Code 2</span>
                    </div>

                </div>
                <div class="portlet-body form">
                    <textarea id="editor2"></textarea>
                </div>
            </div>            

        </div>
    </div>
</div>
